.menu-left{
    width: 60%;
    height: 100%;
    /* background-color: yellow; */
    padding: 70px;
}
.image-box{
    height: 100%;
    width: 100%;
    /* background-color: purple; */
}
.image-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}