.menu{
    background-color: black;

    height: 100vh;
    
    width: 100%;

    display: flex;
    top: -100%;
    position: absolute;
    transition: all ease-in-out;
    
}
h1{
    color: black;
}