
.navigation {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 25px;
    background-color: hsl(120, 93%, 89%);
    


}


.nav-links {
    text-decoration: none;
    text-transform: none; 
    color: inherit; 
    cursor: pointer;
}


.nav-logo .nav-links h1 {
    color: black;
}


.nav-items .nav-links h4 {
    color: black;
    transition: opacity 0.3s;
}

.nav-items .nav-links h4:hover {
    opacity: 0.9;
}

.nav-items .nav-links h4:active {
    transform: scale(0.95);
}

.nav-links h1::selection,
.nav-links h4::selection {
    user-select: none;
}
