* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: white  ; */
  color: black;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: hsl(120, 86%, 81%);
  overflow-x: hidden;
}


